/* Estilos para el formulario de inicio de sesión */
body {
    font-family: Arial, sans-serif;
  }
  
.login-form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .password-recovery {
    text-align: center;
    margin-top: 10px;
  }
  
  .password-recovery a {
    color: #007bff;
    text-decoration: none;
  }
  
  .password-recovery a:hover {
    text-decoration: underline;
  }
  
  .back-button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  
  .back-button:hover {
    background-color: #5a6268;
  }
  